.elementor-2333 .elementor-element.elementor-element-679dc4fc:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-679dc4fc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #e73735;
	height:0px;
}

.elementor-2333 .elementor-element.elementor-element-679dc4fc,.elementor-2333 .elementor-element.elementor-element-679dc4fc>.elementor-background-overlay {
	border-radius: 0 0 0 0;
}

.elementor-2333 .elementor-element.elementor-element-679dc4fc {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin-top: -24px;
	margin-bottom: 0;
	padding: 0 40px;
	z-index: 4;
}

.elementor-2333 .elementor-element.elementor-element-679dc4fc>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-bc-flex-widget .elementor-2333 .elementor-element.elementor-element-2fb4544.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-2fb4544.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-2333 .elementor-element.elementor-element-a4a684b.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-a4a684b.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-5e9bd940 .elementor-spacer-inner {
	height: 10px;
}

.elementor-bc-flex-widget .elementor-2333 .elementor-element.elementor-element-578deb30.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-578deb30.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-e2d0f6f>.elementor-container {
	max-width: 1400px;
}

.elementor-2333 .elementor-element.elementor-element-e2d0f6f:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-e2d0f6f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000;
}

.elementor-2333 .elementor-element.elementor-element-e2d0f6f {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	padding: 0;
	z-index: 4;
}

.elementor-2333 .elementor-element.elementor-element-e2d0f6f>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-bc-flex-widget .elementor-2333 .elementor-element.elementor-element-7bbc0a19.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-7bbc0a19.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-15e55f4a>.elementor-container {
	min-height: 615px;
}

.elementor-2333 .elementor-element.elementor-element-15e55f4a>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2333 .elementor-element.elementor-element-15e55f4a:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-15e55f4a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/runner_frontpage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-15e55f4a>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(0deg,#000000 0%,#00000000 0%);
	opacity: .77;
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-15e55f4a {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.elementor-2333 .elementor-element.elementor-element-5784db91>.elementor-element-populated>.elementor-background-overlay {
	opacity: .8;
}

.elementor-2333 .elementor-element.elementor-element-5784db91>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-5784db91>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-4fc62704>.elementor-container {
	min-height: 401px;
}

.elementor-2333 .elementor-element.elementor-element-4fc62704 {
	margin-top: 0;
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-8d3d4c2 .elementor-heading-title {
	color: #000;
	font-family: renogare,Sans-serif;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2em;
}

.elementor-2333 .elementor-element.elementor-element-8391c98 {
	color: var( --e-global-color-text );
	font-family: bilo-medium,Sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1em;
}

.elementor-2333 .elementor-element.elementor-element-d28c94c {
	color: var( --e-global-color-text );
	font-family: bilo-medium,Sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1em;
}

.elementor-2333 .elementor-element.elementor-element-bb1cb1f {
	margin-top: -37px;
	margin-bottom: -37px;
	z-index: 0;
}

.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button {
	font-family: bilo-medium,Sans-serif;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	fill: #333;
	color: #333;
	background-color: #fff;
	border-radius: 3px 3px 3px 3px;
}

.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button:hover,.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button:focus {
	color: #000;
	background-color: #fff;
}

.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button:hover svg,.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button:focus svg {
	fill: #000;
}

.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button {
	font-family: bilo-medium,Sans-serif;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	fill: var( --e-global-color-text );
	color: var( --e-global-color-text );
	background-color: #333;
	border-radius: 6px 6px 6px 6px;
}

.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button:hover,.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button:focus {
	color: #fff;
	background-color: #333;
}

.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button:hover svg,.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button:focus svg {
	fill: #fff;
}

.elementor-2333 .elementor-element.elementor-element-b8059e0:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-b8059e0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #333;
}

.elementor-2333 .elementor-element.elementor-element-b8059e0 {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.elementor-2333 .elementor-element.elementor-element-b8059e0>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-6bdb11b .elementor-heading-title {
	color: #fff;
	font-family: renogare,Sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.elementor-2333 .elementor-element.elementor-element-6bdb11b>.elementor-widget-container {
	padding: 8px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-5286afd5:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-5286afd5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #333;
}

.elementor-2333 .elementor-element.elementor-element-5286afd5 {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	padding: 0 0 17px;
}

.elementor-2333 .elementor-element.elementor-element-5286afd5>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-2b1a87f1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/Apple-lifestyle-image.jpg);
	background-position: 5px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 77px 45px 45px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__image {
	margin-bottom: 39px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__image img {
	width: 30%;
	border-radius: 0;
	max-height:130px;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__front .elementor-flip-box__layer__title {
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-e59155e .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-6f2d3e0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/adidasrunner.jpg);
	background-position: 126px -62px;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 77px 32px 32px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__image {
	margin-bottom: 39px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__image img {
	width: 33%;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__front .elementor-flip-box__layer__title {
	margin-bottom: 19px;
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-9bb805b .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-9bb805b>.elementor-widget-container {
	margin: 0;
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-7d003fd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/Xterra-lifestyle-image.jpg);
	background-position: 26px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 106px 32px 32px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__image {
	margin-bottom: 39px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__image img {
	width: 57%;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__front .elementor-flip-box__layer__title {
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-4bb4a0a .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-f11c5a3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/womanheadphones.jpg);
	background-position: 77px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 54px 32px 32px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__image {
	margin-bottom: 44px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__image img {
	width: 48%;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__front .elementor-flip-box__layer__title {
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-0b43d5f .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-edb8f03:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/Finish-lifestyle-image.jpg);
	background-position: -43px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 53px 32px 32px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__image {
	margin-bottom: 4px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__image img {
	width: 58%;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__front .elementor-flip-box__layer__title {
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-06bba0e .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-06bba0e>.elementor-widget-container {
	margin: 0;
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0;
}

.elementor-2333 .elementor-element.elementor-element-86e898b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/Oakley-lifestyle-image.jpg);
	background-position: -33px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-element-populated {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	margin: 0 20px 0 0;
}

.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__front {
	background-color: transparent;
	background-image: linear-gradient(110deg,var( --e-global-color-accent ) 60%,#F0340D00 54%);
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__back {
	background-color: var( --e-global-color-primary );
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
	padding: 32px;
	text-align: left;
	justify-content: center;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__image {
	margin-bottom: 40px;
	opacity: 1;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__front .elementor-flip-box__layer__title {
	font-family: bilo-medium,Sans-serif;
	font-size: 42px;
	font-weight: 900;
	line-height: .1em;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__front .elementor-flip-box__layer__description {
	color: #000;
	font-family: bilo-medium,Sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: .9em;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
	text-align: center;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__button {
	margin-center: 0;
	background-color: var( --e-global-color-primary );
	border-radius: 100px;
}

.elementor-2333 .elementor-element.elementor-element-dd40cd8 .elementor-flip-box__button:hover {
	background-color: var( --e-global-color-text );
}

.elementor-2333 .elementor-element.elementor-element-1e25cea:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-1e25cea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/swimmer.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-1e25cea>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(121deg,#333333 49%,#F0003C00 38%);
	opacity: .77;
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-1e25cea {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.elementor-2333 .elementor-element.elementor-element-36a26ab>.elementor-element-populated {
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-c7ca8ad .elementor-spacer-inner {
	height: 50px;
}

.elementor-2333 .elementor-element.elementor-element-db06e8c .elementor-heading-title {
	color: #fff;
	font-family: renogare,Sans-serif;
	font-size: 45px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0,0,0,.3);
}

.elementor-2333 .elementor-element.elementor-element-db06e8c>.elementor-widget-container {
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-58c02ff {
	text-align: left;
	color: #fff;
	font-family: bilo-light,Sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.elementor-2333 .elementor-element.elementor-element-58c02ff>.elementor-widget-container {
	padding: 0 0 0 8px;
}

.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button {
	font-family: bilo,Sans-serif;
	font-size: 36px;
	font-weight: 300;
	background-color: var( --e-global-color-primary );
	padding: 15px 30px;
}

.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button:hover,.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button:focus {
	color: #fff;
	background-color: #e73735;
}

.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button:hover svg,.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button:focus svg {
	fill: #fff;
}

.elementor-2333 .elementor-element.elementor-element-4580311>.elementor-widget-container {
	margin: 0;
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-25e33f0:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-25e33f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../images/female-athlete.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2333 .elementor-element.elementor-element-25e33f0>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(0deg,#FFFFFF00 0%,#E73735 0%);
	opacity: .72;
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-25e33f0 {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.elementor-2333 .elementor-element.elementor-element-15c8578 .elementor-spacer-inner {
	height: 60px;
}

.elementor-2333 .elementor-element.elementor-element-cdcd755 {
	text-align: left;
}

.elementor-2333 .elementor-element.elementor-element-cdcd755 .elementor-heading-title {
	color: #fff;
	font-family: renogare,Sans-serif;
	font-size: 41px;
	font-weight: 600;
	text-transform: uppercase;
}

.elementor-2333 .elementor-element.elementor-element-017b3fb {
	text-align: left;
	color: #fff;
	font-family: bilo-light,Sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.elementor-2333 .elementor-element.elementor-element-1a1b11a .elementor-spacer-inner {
	height: 70px;
}

.elementor-2333 .elementor-element.elementor-element-762d39a3:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-762d39a3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #333;
}

.elementor-2333 .elementor-element.elementor-element-762d39a3 {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}

.elementor-2333 .elementor-element.elementor-element-762d39a3>.elementor-background-overlay {
	transition: background .3s,border-radius .3s,opacity .3s;
}

.elementor-2333 .elementor-element.elementor-element-781ec819>.elementor-element-populated {
	padding: 0;
}

.elementor-2333 .elementor-element.elementor-element-7a0009f .elementor-spacer-inner {
	height: 50px;
}

@media(min-width:768px) {
	.elementor-2333 .elementor-element.elementor-element-2fb4544 {
		width: 36.638%;
	}

	.elementor-2333 .elementor-element.elementor-element-a4a684b {
		width: 44.828%;
	}

	.elementor-2333 .elementor-element.elementor-element-578deb30 {
		width: 17.716%;
	}

	.elementor-2333 .elementor-element.elementor-element-324e4072 {
		width: 45%;
	}

	.elementor-2333 .elementor-element.elementor-element-581996b {
		width: 55%;
	}

	.elementor-2333 .elementor-element.elementor-element-a1dc2fd {
		width: 36.531%;
	}

	.elementor-2333 .elementor-element.elementor-element-f73c11d {
		width: 63.469%;
	}

	.elementor-2333 .elementor-element.elementor-element-a2404ac {
		width: 26.139%;
	}

	.elementor-2333 .elementor-element.elementor-element-776955e {
		width: 47.123%;
	}

	.elementor-2333 .elementor-element.elementor-element-d01e279 {
		width: 26.042%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2333 .elementor-element.elementor-element-2fb4544 {
		width: 70%;
	}

	.elementor-2333 .elementor-element.elementor-element-578deb30 {
		width: 30%;
	}

	.elementor-2333 .elementor-element.elementor-element-7bbc0a19 {
		width: 20%;
	}

	.elementor-2333 .elementor-element.elementor-element-324e4072 {
		width: 40%;
	}

	.elementor-2333 .elementor-element.elementor-element-2b1a87f1 {
		width: 50%;
	}

	.elementor-2333 .elementor-element.elementor-element-6f2d3e0 {
		width: 50%;
	}

	.elementor-2333 .elementor-element.elementor-element-7d003fd {
		width: 50%;
	}

	.elementor-2333 .elementor-element.elementor-element-f11c5a3 {
		width: 50%;
	}

	.elementor-2333 .elementor-element.elementor-element-edb8f03 {
		width: 50%;
	}

	.elementor-2333 .elementor-element.elementor-element-86e898b {
		width: 50%;
	}
}

@media(min-width:1025px) {
	.elementor-2333 .elementor-element.elementor-element-2b1a87f1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-7d003fd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-f11c5a3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-edb8f03:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-86e898b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-1e25cea:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-1e25cea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-2333 .elementor-element.elementor-element-25e33f0:not(.elementor-motion-effects-element-type-background),.elementor-2333 .elementor-element.elementor-element-25e33f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}
}

@media(max-width:1024px) {
	.elementor-2333 .elementor-element.elementor-element-679dc4fc {
		padding: 0 30px;
	}

	.elementor-2333 .elementor-element.elementor-element-e2d0f6f {
		padding: 0 30px;
	}

	.elementor-2333 .elementor-element.elementor-element-4fc62704>.elementor-container {
		min-height: 156px;
	}

	.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-element-populated {
		margin: 0 15px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-element-populated {
		margin: 0 15px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-element-populated {
		margin: 0 15px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-element-populated {
		margin: 0 15px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-element-populated {
		margin: 0 15px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-element-populated {
		margin: 0 15px 0 0;
	}
}

@media(max-width:767px) {
	.elementor-2333 .elementor-element.elementor-element-679dc4fc {
		padding: 0 10px;
	}

	.elementor-2333 .elementor-element.elementor-element-2fb4544 {
		width: 60%;
	}

	.elementor-2333 .elementor-element.elementor-element-578deb30 {
		width: 40%;
	}

	.elementor-2333 .elementor-element.elementor-element-e2d0f6f {
		padding: 10px;
	}

	.elementor-2333 .elementor-element.elementor-element-7bbc0a19 {
		width: 40%;
	}

	.elementor-2333 .elementor-element.elementor-element-15e55f4a>.elementor-container {
		min-height: 298px;
	}

	.elementor-2333 .elementor-element.elementor-element-8d3d4c2 {
		text-align: left;
	}

	.elementor-2333 .elementor-element.elementor-element-8d3d4c2 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-2333 .elementor-element.elementor-element-8d3d4c2>.elementor-widget-container {
		margin: 19px 0 0;
		padding: 0 190px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-8391c98 {
		font-size: 14px;
	}

	.elementor-2333 .elementor-element.elementor-element-8391c98>.elementor-widget-container {
		margin: -21px 0 0;
		padding: 0 122px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-d28c94c {
		font-size: 14px;
	}

	.elementor-2333 .elementor-element.elementor-element-d28c94c>.elementor-widget-container {
		margin: 65px 0 0;
		padding: 1px 138px 0 0;
	}

	.elementor-2333 .elementor-element.elementor-element-581996b {
		width: 6%;
	}

	.elementor-2333 .elementor-element.elementor-element-bb1cb1f {
		margin-top: -23px;
		margin-bottom: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-a1dc2fd {
		width: 53%;
	}

	.elementor-2333 .elementor-element.elementor-element-e20a43c .elementor-button {
		font-size: 17px;
		padding: 3px;
	}

	.elementor-2333 .elementor-element.elementor-element-f73c11d {
		width: 46%;
	}

	.elementor-2333 .elementor-element.elementor-element-f73c11d>.elementor-element-populated {
		margin: 0 0 0 -17px;
	}

	.elementor-2333 .elementor-element.elementor-element-f662587 .elementor-button {
		font-size: 17px;
		padding: 5px;
	}

	.elementor-2333 .elementor-element.elementor-element-2b1a87f1>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-6f2d3e0>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-7d003fd>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-f11c5a3>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-edb8f03>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-86e898b>.elementor-element-populated {
		margin: 0 0 30px;
		padding: 0;
	}

	.elementor-2333 .elementor-element.elementor-element-1e25cea {
		padding: 0 7px 0 9px;
	}

	.elementor-2333 .elementor-element.elementor-element-4580311 .elementor-button {
		font-size: 22px;
	}
}

@font-face {
	font-family:renogare;font-style:normal;font-weight:400;font-display:auto;src:url(../fonts/Renogare-Regular.ttf) format('truetype');
}

@font-face {
	font-family:bilo;font-style:normal;font-weight:400;font-display:auto;src:url(../fonts/Bilo-Medium.ttf) format('truetype');
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */